<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor='let quote of quotes; let i = index'>
      <div class="card">
        <div class="card-body">
          <p class="card-text">{{quote.name}}</p>
          <p class="btn btn-primary" (click)='toggleDescription(i)'>Toggle Description</p>
          <app-quote-details *ngIf='quote.showDescription'[quote]='quote' (wantToDelete)='removeQuote($event, i)'></app-quote-details>
        </div>
      </div>
    </div>
  </div>
</div>
